/*
Navbar should:
Be 120 pixels in height
Be the full width of the viewport.
Have #4056A1 as its default background colour.
Have #FFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side 
and should remain 1.5ems away from all edges

*/

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#tweeterLogo {
  font-family: 'Bungee', cursive;
  font-size: 36px;
}

#navSlogan {
  text-align: center;
  font-size: 20px;
  line-height: 15px;
}

