.posted-tweet {
  border: 3px solid #555248;
  margin-top: 30px;
  padding: 20px;
}

.tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #565349;
  background-color: #f4f1ec;
  font-size: 20px;
  padding: 10px;
  height: 50px;
  width: 100%;
}

.tweet textarea {
  resize: none;
  border: none;
  width: 90%;
  border-bottom: 3px solid #555248;
  background-color: #F5F1EC;
  margin-top: 5px;
  font-size: 20px;
  color: #555248;
  outline: none;
  height: 112px;
  pointer-events: none;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #565349;
  font-size: 20px;
  padding: 10px;
  height: 50px;
  width: 100%;
}

.post-date {
  font-size: 16px;
  font-weight: bold;
}

.tweet-icon {
  height: 25px;
  width: 25px;
  padding-left: 3px;
  padding-right: 3px;
 
}

.user-handle {
  color: #F5F1EC;
  font-weight: lighter; 
  font-size: 22px;
}

.posted-tweet:hover .user-handle {
  color: #916e99;
}

.posted-tweet:hover {
  box-shadow: 15px 15px 15px #916e99;
}

